.header {
    display: flex;
    align-items: center;
    background-color: white;

}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .logo {
    max-height: 30px;
}

.header .tittle-group {
    padding-left: 25px;
}
.header .tittle-group i {
    padding-right: 5px;
}