<mat-card>
    <mat-card-title class="title">Alterar Produto</mat-card-title>
    <form action="">
        <mat-form-field>
            <input type="text" matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>

</mat-card>
<button mat-raised-button (click)="updateProduct()">
   Atualizar
</button>

<button mat-raised-button (click)="cancel()" color="primary">
    Cancelar
 </button>